<header class="site-header" role="banner">
  <div class="wrapper">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    <nav class="site-nav">
      <input type="checkbox" id="nav-trigger" class="nav-trigger" />
      <label for="nav-trigger">
        <span class="menu-icon">
          <svg viewBox="0 0 18 15" width="18px" height="15px" aria-hidden="true">
            <path d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0
              C0,0.665,0.665,0,1.484,0h15.032C17.335,0,18,0.665,18,1.484L18,1.484z M18,7.516
              C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0C0,6.696,0.665,6.031,1.484,6.031h15.032
              C17.335,6.031,18,6.696,18,7.516L18,7.516z M18,13.516C18,14.335,17.335,15,16.516,15H1.484
              C0.665,15,0,14.335,0,13.516l0,0c0-0.82,0.665-1.484,1.484-1.484h15.032C17.335,12.031,18,12.696,18,13.516
              L18,13.516z"></path>
          </svg>
        </span>
      </label>

      <div class="trigger">
        <details class="nav-item nav-item--dropdown" data-exclusive="true">
          <summary class="nav-item__summary">
            機器人
            <span class="nav-item__chevron" aria-hidden="true">▾</span>
          </summary>
          <div class="nav-item__menu" role="menu">
            <a role="menuitem" href="{{ "/robot/viqrc_2023_2024/" | relative_url }}">VIQRC 2023-2024</a>
            <a role="menuitem" href="{{ "/robot/viqrc_2024_2025/" | relative_url }}">VIQRC 2024-2025</a>
            <a role="menuitem" href="{{ "/robot/fira_2025/" | relative_url }}">FIRA RoboWorld Cup 2025</a>
          </div>
        </details>

        <details class="nav-item nav-item--dropdown" data-exclusive="true">
          <summary class="nav-item__summary">
            帆船
            <span class="nav-item__chevron" aria-hidden="true">▾</span>
          </summary>
          <div class="nav-item__menu" role="menu">
            <a role="menuitem" href="{{ "/sailing/penghu_regatta/" | relative_url }}">澎湖盃</a>
            <a role="menuitem" href="{{ "/sailing/personal_learning_portfolio/" | relative_url }}">個人學習歷程展</a>
          </div>
        </details>

        <details class="nav-item nav-item--dropdown" data-exclusive="true">
          <summary class="nav-item__summary">
            腳踏車
            <span class="nav-item__chevron" aria-hidden="true">▾</span>
          </summary>
          <div class="nav-item__menu" role="menu">
            <a role="menuitem" href="{{ "/bicycle/grand_tour/" | relative_url }}">國小壯遊</a>
            <a role="menuitem" href="{{ "/bicycle/puzzle_trip_1/" | relative_url }}">拼圖環島第一片</a>
            <a role="menuitem" href="{{ "/bicycle/puzzle_trip_2/" | relative_url }}">拼圖環島第二片</a>
            <a role="menuitem" href="{{ "/bicycle/puzzle_trip_4/" | relative_url }}">拼圖環島第四片</a>
          </div>
        </details>

        <a class="nav-item nav-item--link" href="{{ "/learning_schedule/" | relative_url }}">學習進度規劃</a>
        <a class="nav-item nav-item--link" href="{{ "/bus/" | relative_url }}">公車</a>

        <details class="nav-item nav-item--dropdown" data-exclusive="true">
          <summary class="nav-item__summary">
            程式專案
            <span class="nav-item__chevron" aria-hidden="true">▾</span>
          </summary>
          <div class="nav-item__menu" role="menu">
            <a role="menuitem" href="{{ "/program/accounting/" | relative_url }}">記帳</a>
            <a role="menuitem" href="{{ "/program/hpees_shelf/" | relative_url }}">圖書管理系統</a>
          </div>
        </details>
      </div>
    </nav>
  </div>
</header>
